pkgbase = rustscan-bin
	pkgdesc = Faster Nmap Scanning with Rust
	pkgver = 1.1.0
	pkgrel = 1
	url = https://github.com/rustscan/rustscan
	arch = x86_64
	license = MIT
	depends = rustup
	provides = rustscan

pkgname = rustscan-bin

